# Gradle
.gradle/
.gradle-home/
build/
**/build/

# Kotlin / Android Studio
.kotlin/
.idea/
*.iml

# Local machine config
local.properties

# Android outputs
*.apk
*.ap_
*.aab

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/test_output
fastlane/readme.md

# OS files
.DS_Store
